.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

/* header */
.card {
  width: 442px;
  height: auto;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  font-family: "Prompt", sans-serif;
}

.card-header {
  display: flex;
  align-items: center;
  position: relative;
}

.card-icon img {
  width: 80px;
  height: auto;
}

.card-title h2 {
  font-size: 24px;
  margin: 0px 0px -8px 16px;
  color: #d9534f;
  font-weight: 600;
}

.card-title p {
  font-size: 18px;
  margin: 0px 0px 8px 16px;
  font-weight: 600;
  color: #999;
}

.card-title .uni {
  font-size: 18px;
  margin: 0px 0px 0px 16px;
  color: #999;
}

.heart {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 21px;
  margin: 8px 0px 0px 0px;
  color: #f25a5a;
  cursor: pointer;
}

/* divider */
.divider {
  width: auto;
  height: 2px;
  margin: 10px 0px 10px 0px;
  background: #e9e9e9;
}

/* round */
.rounds {
  display: flex;
  align-items: center;
  margin: 16px 0 8px 0px;
  gap: 8px;
}

.rounds-text {
  font-size: 18px;
  margin-right: 16px;
  color: #666;
}

.round {
  width: 28px;
  height: 28px;
  background: #e1e1e1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
}

.round.active {
  background: #4caf50;
  color: #fff;
}

/* current-round  */
.current-round {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admission {
  font-size: 14px;
  color: #d9534f;
  margin: 0 0 12px;
  font-weight: 600;
}

.edit-btn {
  color: #f25a5a;
  padding: 4px 20px 8px 20px;
  border: solid;
  border-color: #f25a5a;
  border-width: 1px;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: transparent;
}

.nuclear-outline {
  position: relative;
  top: 4px;
  width: 18px;
  height: 18px;
}

/* your score */
.score-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.medal-icon img{
  width: 52px;
  height: auto;
  margin-left: 16px;
}

.your-score {
  text-align: right;
  margin-bottom: 16px;
}

.your-score .label {
  font-size: 12px;
  margin-bottom: -8px;
  color: #666;
}

.your-score .score {
  font-size: 40px;
  color: #333;
}

/* stat */
.stats {
  display: flex;
  justify-content: space-between;
}

.stat-box {
  text-align: center;
  width: auto;
  margin: 0px 8px 0px 8px;;
}

.stat-title {
  font-size: 12px;
  color: #777;
}

.stat-value {
  font-size: 20px;
  margin-top: 4px;
}

.stat-divider {
  width: 2px;
  height: auto;
  margin: 10px 0px 10px 0px;
  background: #e9e9e9;
}